/*
 * Find My School Stylesheet
 * ---------------------
 * 
 * This is a stylesheet to overide bootstrap elements and introduce new styling elements.
 *
 * Organization: Code 4 Kenya
 * URI: http://code4kenya.org
 *
 * Author: David Lemayian
 * URI: http://davidlemayian.com
 *
 */


/* BOOTSTRAP OVERIDES & Default tags */

/* Navigation Bar */
.navbar-inner {
	height: 60px;
}
	.navbar-search .search-query {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.navbar .divider-vertical {
		height: 50px;
	}


/*      ===================     */
/*        HEADER ELEMENTS       */
/*      ===================     */
.beta {
	text-align: center;
	background-color: #FCF8E3;
}
	.beta p{
		margin: 0;
		line-height: 25px;
		font-size: 12px;
	}
	.beta p span{
		font-weight: 500;
	}
	.beta p img{
		height: 20px;
		margin-left: 5px;
	}
	
header .brand{
	margin-top: 5px;
}

header a{
	line-height: 100%;
	font-weight: 500;
	font-size: 16px;
}
	header a span{
		font-weight: 200;
		font-size: 12px;
	}


/*      ===================     */
/*        FOOTER ELEMENTS       */
/*      ===================     */

footer {
	margin-bottom: 20px;
	border-top: 1px solid #eee;
}

footer .footer-title{
	color: #555;
	padding: 10px 0 5px;
	margin: 0 0 15px;
	border-bottom: 1px solid #eee;
}

footer a{
	color: #9E9E9E;
	padding: 0px 10px;
}
	footer a:hover{
		color: #000;
	}
	
	footer a .c4k-logo{
		padding: 0;
	}

footer p {
	color: #9E9E9E;
	margin: 20px 0px 10px;
	line-height: 30px;
}

footer a img{
	opacity: 0.5;
}
	footer a img:hover{
		opacity: 1.0;
	}


/*      ===========     */
/*      MAIN LAYOUT     */
/*      ===========     */

/* ----- Home Elements ----- */

.home-header{
	text-align: center;
	height: 120px;
	background-color: #404040;
	background-image: url(../img/bg/home-bkgd.png);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	margin-bottom: 30px;
}

	.home-header .text{
		font-size: 24px;
		line-height: 120px;
		text-align: center;
		font-weight: 200;
		overflow: hidden;
		color: white;
		text-shadow: 0 1px 1px black;
	}
	
.home-featured{
	margin-bottom: 50px;
}

.home-featured h2{
	margin-bottom: 25px;
}	
.home-featured h2 small{
	color: inherit;
	font-size: 23px;
}
	.home-featured h2 small a{
		line-height: 100%;
		color: #7A7A7A;
		font-size: 15px;
		text-decoration: underline;
		padding-top: 17px;
	}
		.home-featured h2 small a:hover{
			color: #000;
		}
/*.home-featured .creator-avatar, .home-featured .project-title{
	display: inline-block;
}*/
.home-featured .project-details{
	margin-left: 30px; width: 355px;
}
	.project-title h3{
		margin: 0;
		line-height: 100%;
	}
	
.home-featured #categories {
	margin: 20px 0 20px 50px;
}
	.home-featured #categories li{
		width: 200px;
	}

.home-numbers{
	text-align: center;
}
	.home-numbers h1{
		font-size: 50px;
	}

.search-example{
	border-bottom: 1px dashed;
}
	.search-example:hover {
		text-decoration: none;
		color: rgb(85, 188, 240);
		border-bottom: 1px solid;
	}
	
.home-social{
	margin-top: 20px;
}
	.home-social a{
		margin: 10px;
	}


/*      =======================     */
/*      MARKS COMPARISON LAYOUT     */
/*      =======================     */

#school-results td{
	text-align: center;
}
	#school-results td:first-child{
		text-align: left;
	}
	#school-results td:first-child span{
		padding-left: 10px;
	}
	

/*      ==============     */
/*      RESULTS LAYOUT     */
/*      ==============     */

/* ----- Search Page ----- */
.results a{
	display: inline-block;
}

/* ----- School Page ----- */
.school-results img{
	height: 10px;
	margin-top: -3px;
}








